body { 	
    /* font-family: 'Cordia New', "Segoe UI", sans-serif; */
    /* font-family: Arial, Arial, Helvetica, sans-serif; */
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.80em;
    align: center; 
}

.fondoaccess {
    width: 680px;
    height:200px;
    background: url('images/fondoinicial.png') no-repeat top;    
}
a {   
    font-variant: small-caps;
    /* color: #999999; */  
}
	
h2.error  {
    background: #af0000;
    color: #ffffff;    
}
label {
    /*font-variant: small-caps; */
    font-size: 1.2em;
}

h1 {
    margin-top: -5px;
    margin-bottom: -5px; 
    padding: 5px;
}
h2 {
    padding: 5px;
    background: #0069af;
    color: #ffffff;
}

#cabecera {
    width: 850px;
    height:150px;
    background: url('images/cabecera.gif') no-repeat top;    
    clear:both!important;
}

#resumen {
    width: 820px;
    float: left;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* border: solid 1px #0069af; */
    background: #eeeeff /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}

#ErrorFechas  {
    width: 820px;
    float: left;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* border: solid 1px #0069af;*/
    background: #eeeeff /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}
.input {
    border-color:#0069af; 
    border-style:solid; 
    border-width:1px;
}
select {
    border-color:#0069af; 
    border-style:solid; 
    border-width:1px;
}
cabecerafija {
    padding: 5px;
}
#fila {
    width: 850px;
}
.formsize {
    width: 380px;    
    border-color:#0069af; 
    border-style:solid; 
    border-width:1px; 
}

#info{
    float: left;
    width: 820px;
    /* height: 200px;*/
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* border: solid 1px #0069af;*/
    background: #eeeeff /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}

#grupo1 {
    float: left;
    width: 400px; 
    height: 830px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* border: solid 1px #0069af; */
  background: #eeeeff /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}

#grupo2 {
    left: 430;
    float: left;
    width: 400px; 
    height: 830px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* border: solid 1px #0069af; */
  background: #eeeeff /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}
#grupo3 {
    float: left;
    width: 400px;
    height: 350px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* border: solid 1px #0069af; */
   background: #eeeeff /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}
#grupo4 {
    left: 430;
    float: left;
    width: 400px;
    height: 350px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* border: solid 1px #0069af; */
   background: #eeeeff /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}
#grupo5 {
    float: left;
    width: 400px;
    height: 520px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* border: solid 1px #0069af;*/
    background: #eeeeff /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}
#grupo6 {
    float: left;
    width: 400px;
    height: 250px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* border: solid 1px #0069af;*/
   background: #eeeeff /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}

#grupo7 {
	float: left;
	width: 400px;
	height: 250px;
	margin: 5px 5px 5px 5px;
	padding: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	background: #eeeeff /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}

#grupofantasma {
	float: left;
	width: 400px;
	height: 250px;
	margin: 5px 5px 5px 5px;
	padding: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	background: #ffffff;
}

#grupohipica {
	float: left;
	width: 400px;
	margin: 5px 5px 5px 5px;
	padding: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	background: #eeeeff /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}
#grupoenquesta {
    float: left;
    width: 820px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* border: solid 1px #0069af;*/
    background: #eeeeff /* url('images/lludristrangis820.png') no-repeat bottom*/ ;    
}#grupoinfo {    margin: auto;    padding: 5px;    width: 820px;    padding-left: 5px;    padding-bottom: 5px;    padding-top: 5px;    background: #eeeeff;}

#botonera {
    float: left;
    width: 820px;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* border: solid 1px #0069af;*/
    background: #eeeeff;
}

a:link {	
    text-decoration:none;
    color: #5555ff;  
}
a:visited {	
    text-decoration:none;
    color: #5555ff;  
}
a:hover 
{	text-decoration:underline;
	color: #ff0000;  }
a:active 
{	text-decoration:underline;
	color: #5555ff;  }

a.removeA {
    color: #ffffff;
    font-weight: bold;
    background: #bb0000;
    margin: 5px 5px 5px 5px;
    padding-left: 4px;    
    padding-right: 4px;    
}
a.Enquesta {
    color: #ffffff;
    font-weight: bold;
    background: #ef9800;
    padding-left: 4px;    
    padding-right: 4px;    
}

label.status{ 	
    font-size: 0.75em;	
}



label.ultimoacceso
{ 	font-size: 0.75em;	
	clear:both;}

label.bold
{   font-weight: bold; }

label.error
{	color: red;	}

#logo 
{	float:left;}

#menu 
{	float:right;}

#cuerpo
{    clear:both;}

#flogin
{   padding: 15px;
    border: thin solid #000000;}

.izz
{	float:left;}

.der
{	float:right;}

.nuevaFila
{   clear:both;}

.disabled
{   background-color: #cccccc;}

.my-modal {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    bottom: 0;
    /*box-shadow: 0 0 125px #000000 inset;*/
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
     -webkit-transform: translateZ(0);
}
.my-modal-dialog {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    bottom: 0;
    margin: 10%;
    padding: 30px;
    top: 0;
    font-family:Arial, Helvetica, sans-serif;
}
#termsAndConditions {
    display: none;
}
#termsAndConditions .toolbar {
    position: relative;
}
.toolbar .close {
    cursor: pointer;
    font-size: 175%;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 50px;
}
#termsAndConditions .content {
    height: 500px;
    overflow: auto;
    padding: 0 30px 0 0;
    text-align: justify;
}

 #termsAndConditions .content .terms_text {color:inherit!important;}
.pepe {margin: auto; width: 850px;}
@media print {
    .pepe { page-break-after:always;
        }
}
