/* HTML */

body {
padding-top: 150px;
font-family: 'Roboto', sans-serif;
color: rgb(14, 60, 99);
font-size: 14px;
font-weight: 400;
background: url(../../images/background-indis.jpg) no-repeat center center fixed #f0f9ff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


h2 {
	font-size: 25px;
	margin: 0px;
	letter-spacing: -0.9px;
	color: #545454;
}

h2.thanks {
    font-size: 30px;
    margin-bottom: 20px;
}

@media (max-width: 480px) {
	h2.thanks {
    font-size: 23px;
    margin-bottom: 5px;
	}

	h2 {
		text-align: center;
	}
}

h3 {
	letter-spacing: -0.4px;
	margin: 0;
	font-size: 23px;
	color: #2B6AAD;
	font-weight: 500;
}

@media (max-width:480px) {
	h3 {
	font-size: 20px;
	text-align: center;
	}
}

h4 {
    font-size: 15px;
    color: #535353;
    text-align: left;
    font-weight: 600;
    display: inline-block;
    margin: 0px;
    line-height: 20px;
}

a {
text-decoration: none;
}

a:hover {
text-decoration: none;
color: #ADCCEB;
}

p {
margin: 0;
}

@media (max-width:991px) {
	body {
	background: url(background.jpg) no-repeat 90% top fixed #B7D0E7;
	}
}

@media (max-width:480px) {
	.container {
	padding-right: 5px;
	padding-left: 5px;
	}
	body {
	background: #f0f9ff;
	padding-top: 170px;
	}
}

.box {
	border: 1px solid #ccc;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
	overflow: hidden;
	background: white;
}

.padding0 {
	padding: 0px;
}

.padding5 {
	padding: 5px;
}

.border3 {
	border-radius: 3px;
}

.clear {
	clear: both;
}

.center {
	text-align: center!important;
}

.margin0 {
	margin: 0!important;
}

@media (min-width:768px) {
	.right {
		float: right;
	}
}

@media (min-width:991px) {
	.right-btn {
		float: right;
	}
}

@media (max-width:991px) {
	.right-btn {
		/* float: none!important; */
	}
}

.hr-hab {
padding-top: 10px;
border-top: 1px dashed rgba(0,0,0,0.1);
}

/* HEADER */

.top-header {
	top: 0;
    background: #2b6aae;
    padding: 10px 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.23);
    margin-bottom: 20px;
	position: fixed;
	z-index: 999;
	width: 100%;
	overflow: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	border-top: 5px solid #dddc1c;
}

.tm-logo svg {
    max-width: 100%;
    height: auto;
    fill: white;
    -webkit-filter: drop-shadow( 2px 2px 0 rgba(0,0,0,0.3) ) drop-shadow( 0px 0px 33px rgba(0,0,0,0.15) );
    -moz-filter: drop-shadow( 2px 2px 0 rgba(0,0,0,0.3) ) drop-shadow( 0px 0px 33px rgba(0,0,0,0.15) );
    -ms-filter: drop-shadow( 2px 2px 0 rgba(0,0,0,0.3) ) drop-shadow( 0px 0px 33px rgba(0,0,0,0.15) );
    filter: drop-shadow( 2px 2px 0 rgba(0,0,0,0.3) ) drop-shadow( 0px 0px 33px rgba(0,0,0,0.15) );
}

.top-header .logo {
float: left;
direction: ltr;
text-indent: -9999px;
overflow: hidden;
background-position: center center;
background-size: contain;
background-repeat: no-repeat;
width: 285px;
height: 100px;
margin: 0;
}

.top-header .support {
padding-top: 10px;
width: 400px;
float: right;
text-align: right;
font-size: 16px;
font-weight: bold;
margin: 0;
}

@media (max-width:480px) {
	.top-header .logo {
	float: none;
	margin: 0 auto;
	height: 70px;
	}
	.top-header .support {
	padding-top: 0px;
	text-align: center;
	font-size: 16px;
	width: 100%;
	float: none;
	}

}

.top-header .support p {
margin: 0;
padding: 0;
}

.question {
font-size: 25px;
font-weight: 500;
color:white;	
}

@media (max-width:480px) {
	.question {
	font-size: 20px;
	}
}

.phone {
font-size: 15px;
font-weight: 400;
color:white;	
}

.email {
font-size: 15px;
font-weight: 300;
color: #ADCCEB;
}

/* BREADCUMBS */

.breadcrumbs {
padding-top: 20px;
font-size: 14px;
font-weight: 300;
}

.breadcrumbs ul {
list-style: none;
margin: 0 0 12px 0;
padding: 0 10px;
}

.breadcrumbs .active {
color: #2B6AAD;
}

.breadcrumbs li {
display: inline;
padding-right: 40px;
color: #CCCCCC;
}

.breadcrumbs .active .number {
background-color: #2B6AAD;
color: #fff;
}

.breadcrumbs .number {
margin-right: 4px;
display: inline-block;
text-align: center;
min-width: 20px;
border-radius: 12px;
background-color: #CCCCCC;
color: white;
font-weight: 400;
}

/* CENTRO */

.centro {
	max-height: 106px;
}

.centro .nombre {
font-size: 24px;
font-weight: 600;
color: #2B6AAD;
letter-spacing: -0.8px;
text-align: center;
padding: 35px 5px;
}

@media (max-width:991px) {
	.centro {
	margin: 10px;
	border: none;
	background: none;
	box-shadow: none;
	}
	.centro .nombre {
	line-height: 25px;
	font-size: 25px;
	font-weight: 600;
	color: #2B6AAD;
	letter-spacing: -0.8px;
	text-align: center;
	padding: 5px 0 0 0;
	}
}


/* SEARCH FORM */

.search-form {
padding: 15px;
background: white;
}

.texto-selector {
font-size: 11px;
font-weight: 500;
color: #545454;
text-transform: uppercase;
}

.search-button {
cursor: pointer;
text-align: center;
border-bottom: 5px solid #628200;
border-radius: 3px 3px 5px 5px;
font-weight: 500;
background: #a3d900;
background: -moz-linear-gradient(top, #a3d900 10%, #7ba400 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#a3d900), color-stop(100%,#7ba400));
background: -webkit-linear-gradient(top, #a3d900 10%,#7ba400 100%);
background: -o-linear-gradient(top, #a3d900 10%,#7ba400 100%);
background: -ms-linear-gradient(top, #a3d900 10%,#7ba400 100%);
background: linear-gradient(to bottom, #a3d900 10%,#7ba400 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3d900', endColorstr='#7ba400',GradientType=0 );
}

.search-button p {
	text-align: center!important;
	color: white!important;
	font-size: 25px!important;
	margin-bottom: 0px!important;
}

@media (max-width: 480px) {
	.search-button p {
		font-size: 25px!important;
	}
}

.selector-icon {
font-size: 25px;
color: #2B6AAD;
min-height:47px;
position:relative;
}

.selector-icon i {
position: absolute;
bottom: 0;
left: 0;
}

@media (max-width: 480px) {
	.selector-icon {
	font-size: 22px!important;
	}
}

.cercar {
	margin-top: 17px;
}

/* OFERTAS */

.ofertas {
letter-spacing: -0.4px;
margin: 0;
padding: 0;
overflow: hidden;
}

@media (max-width:991px) {
	.ofertas {
	max-width: 100%;
	}
}

@media (max-width:480px) {
	.ofertas {
	margin-bottom: 0px;
	}
}

.oferta {
line-height: 22px;
padding: 15px;
margin-bottom: 4px;
border-radius: 3px;
min-height: 75px;
font-weight: 500;
color: white;
font-size: 25px;
overflow: hidden;
}

.oferta .subtitle {
font-size:15px;
font-weight: 300;
}

@media (max-width:480px) {
	.oferta .subtitle {
	font-size: 11px;
	}	
}

@media (max-width:991px) {
	.oferta {
	line-height: 22px;
	padding: 5px 15px;
	margin-bottom: 5px;
	border-radius: 3px;
	min-height: 55px;
	font-weight: 500;
	color: white;
	font-size: 20px;
	text-align: center;
	}
}

@media (max-width:480px) {
	.oferta {
	font-size: 16px;
	padding: 5px 5px;
	}	
}

.tematica {
background: #85b200; /* Old browsers */
background: -moz-linear-gradient(top,  #85b200 0%, #1a6600 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#85b200), color-stop(98%,#1a6600)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #85b200 0%,#1a6600 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #85b200 0%,#1a6600 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #85b200 0%,#1a6600 98%); /* IE10+ */
background: linear-gradient(to bottom,  #85b200 0%,#1a6600 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85b200', endColorstr='#1a6600',GradientType=0 ); /* IE6-9 */
}

.tematica:before {
content: "\f1a8";
position: absolute;
right: 0;
padding: 15px 10px;
z-index: 9;
font-family: "fontawesome";
color: white;
font-size: 80px;
opacity: 0.5;
}

@media (max-width:480px) {
	.tematica:before {
	opacity: 0.2;
	}	
}

.descuento {
background: #ff8000; /* Old browsers */
background: -moz-linear-gradient(top,  #ff8000 35%, #ffbf00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#ff8000), color-stop(100%,#ffbf00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff8000 35%,#ffbf00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff8000 35%,#ffbf00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff8000 35%,#ffbf00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff8000 35%,#ffbf00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8000', endColorstr='#ffbf00',GradientType=0 ); /* IE6-9 */
}

.descuento:before {
content: "\f005";
position: absolute;
right: 0;
padding: 15px 10px;
z-index: 9;
font-family: "fontawesome";
color: white;
font-size: 80px;
opacity: 0.5;
}

@media (max-width:480px) {
	.descuento:before {
	opacity: 0.2;
	}	
}

/* PRECIO TOTAL */

.precio_total {
overflow: hidden;
min-height: 160px;
background: #2B6AAD;
}

.precio_total p {
font-weight: 500;
color: white;
font-size: 25px;
text-align: right;
letter-spacing: -0.4px;
}

@media (max-width:991px) {
	.precio_total p {
	font-size: 18px;
	text-align: center;
	}
}

.falso-precio {
border-radius: 3px;
color: white;
font-size: 25px;
font-weight: 500;
background: #DDDDDD;
display: inline-block;
text-align: center;
text-decoration: line-through;
width: 100%;
}

.precio {
border-radius: 3px;
color: white;
font-size: 25px;
font-weight: 500;
background: #FFBF00;
display: inline-block;
text-align: center;
width: 100%;
}

/* PRECIO HAB */

.precio-hab {
	float: right;
}

.precio-step2 {
	margin-top: 30px;
	float: right;
}

@media (min-width:991px) {
	.precio-hab {
	right: 15px;
	bottom: 10px;
	position: absolute;
	}
}

/* SEPARADOR */

.separador {
clear: both;
background: #CCCCCC;
height: 1px;
width: 100%;
margin: 0px 0px 5px;
box-shadow: 0px 1px 0px rgba(255,255,255,1);
}

/* HABITACION */

.room {
background: white;
padding: 5px;
border: 1px solid #ccc;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
overflow: hidden;
border-radius: 0px;
}

@media (min-width:768px) {
	.room {
		padding: 5px 15px;
	}
}

@media (max-width:480px) {
	.room {
		padding: 0;
	}
}

.room-desc {
text-align: right;
float: right;
}

@media (max-width:480px) {
	.room-desc {
	margin: 5px 0px 10px;
	text-align: center;
	float: none;
	}
}

.room-desc .room-name {
letter-spacing: -0.4px;
margin: 0;
font-size: 25px;
color: #2B6AAD;
font-weight: 500;
}

@media (max-width:991px) {
	.room-desc .room-name {
	font-size: 16px;
	}
}

.room-desc .room-brief, .room-desc .room-complete {
font-size: 15px;
color: #535353;
text-align: right;
font-weight: 600;
}

@media (max-width:991px) {
	.room-desc .room-brief, .room-desc .room-complete {
	font-size: 12px;
	}
}

@media (max-width:480px) {
	.room-desc .room-brief, .room-desc .room-complete {
	font-size: 11px;
	text-align: center;
	}
}

/* FOOTER */

footer {
    padding: 20px 0px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    color: #222;
}

@media (max-width:480px) {
	.btn-pensio .btn {
	display: inline-block;
	padding: 10px 4px;
	margin-bottom: 0;
	font-size: 9px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	}
}

/* STEP 2 ----------------------------------------------------------------------------------*/

.breadcrumbs .numberactive {
margin-right: 4px;
display: inline-block;
text-align: center;
min-width: 20px;
border-radius: 12px;
background-color: #2B6AAD;
color: white;
font-weight: 400;
}

.stepactive {
	color: #2B6AAD!important;
	font-weight: 500;
}

/* FECHA */

.fecha {
padding: 12px 5px;
color: #525252;
font-size: 14px;
text-align: center;
font-weight: 500;
}

.black {
	color: black;
}

.centro2 .nombre2 {
font-size: 24px;
font-weight: 600;
color: #2B6AAD;
letter-spacing: -0.8px;
text-align: center;
padding: 5px 5px;
}

.pagament {
	min-height: 900px;
}

/* TORNAR BUTTON */

.tornar-button {
text-align: center;
border-bottom: 5px solid #D0D0D0;
border-radius: 3px 3px 5px 5px;
color: white;
font-size: 25px;
font-weight: 500;
background: #2B6AAD;
cursor: pointer;
}

.tornar-button p {
	text-align: center!important;
}

@media (max-width: 480px) {
	.tornar-button p {
		font-size: 25px!important;
	}
}

.tornar {
	float: right
}

/* BOX ACTIVE */

.boxactive {
	background: #FFF8DF;
}

.boxalert {
	background: #990000;
 	color: #ffffff;
}
.boxalert b {
	 color: #ffffff;
}

/* STEP 2 ---------------------------------------------------------------------- */

.step2-desc {
text-align: left;
float: left;
}

@media (max-width:480px) {
	.step2-desc {
	margin: 5px 0px 10px;
	/* float: none; */
	}
}

.step2-desc .step2-blue {
letter-spacing: -0.4px;
margin: 0;
font-size: 17px;
color: #2B6AAD;
font-weight: 500;
}

@media (max-width:991px) {
	.step2-desc .step2-blue {
	font-size: 16px;
	}
}

@media (max-width: 480px) {
	.step2-desc .step2-blue {
	font-size: 20px;
	text-align: center;
	line-height: 20px;
	}
}
.step2-desc .step2-grey, .step2-desc .step2-complete {
font-size: 15px;
color: #535353;
text-align: left;
font-weight: 600;
}

.step2-detalle {
font-size: 15px;
color: #535353;
text-align: left;
}

.step2-claro {
color: #bbb!important;
}

@media (max-width:991px) {
	.step2-desc .step2-grey, .step2-desc .step2-complete {
	font-size: 12px;
	}
}

@media (max-width:480px) {
	.step2-desc .step2-grey, .step2-desc .step2-complete {
	font-size: 17px; /* 25 */
	text-align: center;
	}
}

/* FORMULARIO */

.form-control {
  margin: 5px 0px;
  display: block;
  width: 100%;
  height: 34px;
  padding: 5px 5px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* FORMA DE PAGO */

.formadepago {
	background: #E9F0F7;
	border-radius: 3px;
	padding: 15px;
}

.formadepago p {
	font-size: 12px;
	color: #525252;
	font-weight: 500;
}

.descomptes {
	background: #EEEEEE;
	border-radius: 3px;
	padding: 15px 0px;
}

.descomptes p {
	font-size: 12px;
	color: #525252;
	font-weight: 500;
	margin-bottom: 10px;
}

.termesicondicions p {
	font-size: 12px;
	color: #525252;
	font-weight: 500;
}

.pagarara p {
	padding: 20px 0px;
}

.pagamentsegur {
	text-align: center;
}

/* NUMERO DE NEN */

.quants {
    background: #2b6aae;
    border-radius: 3px;
    padding: 15px;
    line-height: 55px;
}

.quants h4 {
	line-height: 44px;
	font-size: 20px;
	color: white;
}


@media (max-width: 480px){
		.quants h4 {
			text-align: center;
		}
}

.num-nen {    
    line-height: 44px;
    text-align: center;
    background: #EEEEEE;
    border-radius: 3px;
}

.num-nen h4 {
	line-height: 44px;
}
/* STICKY HEADER */

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
    background-color: #2b6aae;
    opacity: 1;
    top: 0px;
    padding: 0;
    max-height: 70px;
    margin-bottom: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.sticky .logo {
    width: 185px;
    height: 67px;
}

.sticky .question {
	display: none;
}

.deposito {
    border-radius: 3px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    background: #00BFFF;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.ocultar {
	display: none!important;
}
.success + label {
	display:none!important;
}

.my-modal {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    bottom: 0;
    box-shadow: 0 0 125px #000000 inset;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}
.my-modal-dialog {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    bottom: 0;
    margin: 10%;
    padding: 30px;
    top: 0;
    font-family:Arial, Helvetica, sans-serif;
}
#termsAndConditions {
    display: none;
}
#termsAndConditions .toolbar {
    position: relative;
}
.toolbar .close {
    cursor: pointer;
    font-size: 175%;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 50px;
}
#termsAndConditions .content {
    height: 500px;
    overflow: auto;
    padding: 0 30px 0 0;
    text-align: justify;
}

#termsAndConditions .content .terms_text {color:inherit!important;}


.pagado {
    border-radius: 3px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    background: #5FBF5F;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.pendiente {
    border-radius: 3px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    background: #EF5F5F;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.inscripcio {
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    background: #4aa3df;
    display: inline-block;
    text-align: center;
    width: 100%;
    line-height: 38px;
    border-bottom: 5px solid #2980b9;
    border-radius: 3px 3px 5px 5px;
}

.inscripcio:hover {
    background: #62AFE3;
}

.prova {
	line-height: 38px;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    background: #e67e22;
    display: inline-block;
    text-align: center;
    width: 100%;
    border-bottom: 5px solid #d35400;
    border-radius: 3px 3px 5px 5px;
}

.prova:hover {
    background: #EA9140;
}

.descarga {
	line-height: 38px;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    width: 100%;
    border-bottom: 5px solid #628200;
    border-radius: 3px 3px 5px 5px;
    background: #a3d900;
    background: -moz-linear-gradient(top, #a3d900 10%, #7ba400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#a3d900), color-stop(100%,#7ba400));
    background: -webkit-linear-gradient(top, #a3d900 10%,#7ba400 100%);
    background: -o-linear-gradient(top, #a3d900 10%,#7ba400 100%);
    background: -ms-linear-gradient(top, #a3d900 10%,#7ba400 100%);
    background: linear-gradient(to bottom, #a3d900 10%,#7ba400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3d900', endColorstr='#7ba400',GradientType=0 );
}

.descarga:hover {
    background:#7ba400;
}

.dades {
    background: #EEEEEE;
    line-height: 44px;
    border-radius: 3px;
    text-align: center;
    color: #222!important;
}

.alerta_fecha_pago {
	color:#fff!important; 
	text-align:center!important; 
	font-size:22px!important;
}

.top5 {
	margin-top: 5px;
}

.top15 {
	margin-top: 15px;
}

.img-responsive {
    width: 100%;
}

.todopagado {
    border-radius: 3px;
    color: white;
    font-size: 25px;
    font-weight: 500;
    background: #CCCCCC;
    display: inline-block;
    text-align: center;
    width: 100%;
}

.tabla {
	/* display: table;*/
}
.celda {
	/* display: table-cell;
 	/* min-height: 180px; */
 }

@media all {
	div.page-break { 
	   	/* page-break-after: none; 
	   	page-break-inside: none;  */
	   	margin-top: 0px; 
		display: none; 
	}
}

@media print {
	.visible-print  { display: inherit !important; }
	.hidden-print   { 
		display: none!important; 
		visibility:hidden!important; 
		max-height: 0px!important; 
		height: 0px!important; 
		min-height: 0px!important; 
	}
	/* .page-break		{ display: block; page-break-before: always; } */
	div.page-break { 
		display: block!important; 
	   	/* page-break-after: always!important;
	   	page-break-inside: avoid!important; */
	   	margin-top: 50px!important; 
	}
	body { 
		padding-top: 0px!important; 
		/* max-width: 1024px!important; */
	}

	body {
	    width: 1200px;  
	}

	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	  float: left;
	}
	.col-sm-12, .col-md-12, .col-lg-12 {
	  width: 100%;
	}
	.col-sm-11, .col-md-11, .col-lg-11 {
	  width: 91.66666666666666%;
	}
	.col-sm-10, .col-md-10, .col-lg-10 {
	  width: 83.33333333333334%;
	}
	.col-sm-9, .col-md-9, .col-lg-9 {
	  width: 75%;
	}
	.col-sm-8, .col-md-8, .col-lg-8 {
	  width: 66.66666666666666%;
	}
	.col-sm-7, .col-md-7, .col-lg-7 {
	  width: 58.333333333333336%;
	}
	.col-sm-6, .col-md-6, .col-lg-6 {
	  width: 50%;
	}
	.col-sm-5, .col-md-5, .col-lg-5 {
	  width: 41.66666666666667%;
	}
	.col-sm-4, .col-md-4, .col-lg-4 {
	  width: 33.33333333333333%;
	}
	.col-sm-3, .col-md-3, .col-lg-3 {
	 width: 25%;
	}
	.col-sm-2, .col-md-2, .col-lg-2 {
	 width: 16.666666666666664%;
	}
	.col-sm-1, .col-md-1, .col-lg-1 {
	  width: 8.333333333333332%;
	}

	.visible-xs, .visible-sm, .visible-md, .hidden-lg {
	  display: none !important;
	}

	.hidden-xs, .hidden-sm, .hidden-md, .visible-lg {
	  display: block !important;
	}

	td.hidden-xs, td.hidden-sm, td.hidden-md, td.visible-lg, th.hidden-xs, th.hidden-sm, th.hidden-md, th.visible-lg {
	  display: table-cell !important;
	}
}

@page {
    size: A4;
    margin-left: -5cm;
    margin-right: -5cm;
}	


/* boton calendario */
.input-compuesto {
    position:relative;
    width:100%!important;
}
.input-compuesto>*{
    cursor:pointer!important;
}
.input-compuesto input {
    margin-right:34px!important;
}
.botoncalendario {
    display:inline-block!important;
    height:34px!important;
    line-height:34px!important;
    width:34px;
    overflow:hidden!important;
    background: gainsboro;
    position:absolute;
    right:0;
    top:0;
    z-index:2;
    
    border:1px solid #ccc;
    border-radius:0 5px 5px 0;
    text-align:center;

}
.inputcalendario {
    background:#fff!important;
}
/* fin boton calendario */