/* HTML */

body {
font-family: 'Roboto', sans-serif;
color: rgb(14, 60, 99);
font-size: 14px;
font-weight: 400;
background: url(background.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

h2 {
	font-size: 25px;
	margin: 0px;
	letter-spacing: -0.9px;
	color: #545454;
}

h3 {
	letter-spacing: -0.4px;
	margin: 0;
	font-size: 25px;
	color: #2B6AAD;
	font-weight: 500;
}

h4 {
	font-size: 15px;
	color: #535353;
	text-align: left;
	font-weight: 600;
}

a {
text-decoration: none;
}

a:hover {
text-decoration: none;
color: #ADCCEB;
}

p {
margin: 0;
}

@media (max-width:480px) {
	.container {
	padding-right: 5px;
	padding-left: 5px;
	}
	body {
	background: white;
	}
}

.box {
	border: 1px solid #ccc;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
	overflow: hidden;
	background: white;
}

.padding0 {
	padding: 0px;
}

.padding5 {
	padding: 5px;
}

.border3 {
	border-radius: 3px;
}

.clear {
	clear: both;
}

.center {
	text-align: center!important;
}

.margin0 {
	margin: 0!important;
}

.margin5 {
	margin: 5!important;
}

@media (min-width:768px) {
	.right {
		float: right;
	}
}

@media (min-width:991px) {
	.right-btn {
		float: right;
	}
}

@media (max-width:991px) {
	.right-btn {
		float: none!important;
	}
}

.hr-hab {
margin-top: 5px;
padding-top: 10px;
border-top: 1px dashed rgba(0,0,0,0.2);
}

/* HEADER */

.blue-line {
background-color: white;
height: 5px;
margin: 0;
padding: 0;
}

.top-header {
background: #78b7d8; /* Old browsers */
background: -moz-linear-gradient(top,  #78b7d8 0%, #2b6aae 50%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78b7d8), color-stop(50%,#2b6aae)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #78b7d8 0%,#2b6aae 50%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #78b7d8 0%,#2b6aae 50%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #78b7d8 0%,#2b6aae 50%); /* IE10+ */
background: linear-gradient(to bottom,  #78b7d8 0%,#2b6aae 50%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78b7d8', endColorstr='#2b6aae',GradientType=0 ); /* IE6-9 */
padding: 10px 0;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.23);
}

.top-header .logo {
float: left;
direction: ltr;
text-indent: -9999px;
overflow: hidden;
background-position: center center;
background-size: contain;
background-repeat: no-repeat;
width: 285px;
height: 100px;
margin: 0;
}

.top-header .support {
padding-top: 10px;
width: 400px;
float: right;
text-align: right;
font-size: 16px;
font-weight: bold;
margin: 0;
}

@media (max-width:480px) {
	.top-header .logo {
	float: none;
	margin: 0 auto;
	height: 70px;
	}
	.top-header .support {
	padding-top: 0px;
	text-align: center;
	font-size: 16px;
	width: 100%;
	float: none;
	}

}

.top-header .support p {
margin: 0;
padding: 0;
}

.question {
font-size: 25px;
font-weight: 500;
color:white;	
}

@media (max-width:480px) {
	.question {
	font-size: 20px;
	}
}

.phone {
font-size: 15px;
font-weight: 400;
color:white;	
}

.email {
font-size: 15px;
font-weight: 300;
color: #ADCCEB;
}

.ocultar {
	display: none!important;
}
/* BREADCUMBS */

.breadcrumbs {
padding-top: 20px;
font-size: 14px;
font-weight: 300;
}

.breadcrumbs ul {
list-style: none;
margin: 0 0 12px 0;
padding: 0 10px;
}

.breadcrumbs .active {
color: #2B6AAD;
}

.breadcrumbs li {
display: inline;
padding-right: 20px;
color: #CCCCCC;
}

.breadcrumbs .active .number {
background-color: #2B6AAD;
color: #fff;
}

.breadcrumbs .number {
margin-right: 4px;
display: inline-block;
text-align: center;
min-width: 20px;
border-radius: 12px;
background-color: #CCCCCC;
color: white;
font-weight: 400;
}

/* CENTRO */

.centro {
	max-height: 106px;
}

.centro .nombre {
font-size: 24px;
font-weight: 600;
color: #2B6AAD;
letter-spacing: -0.8px;
text-align: center;
padding: 35px 5px;
}

@media (max-width:991px) {
	.centro {
	margin: 10px;
	border: none;
	background: none;
	box-shadow: none;
	}
	.centro .nombre {
	line-height: 25px;
	font-size: 25px;
	font-weight: 600;
	color: #2B6AAD;
	letter-spacing: -0.8px;
	text-align: center;
	padding: 5px 0 0 0;
	}
}


.cursor_text {
    cursor:default!important;
}
/* SEARCH FORM */

.search-form {
padding: 15px;
background: white;
}

.texto-selector {
font-size: 11px;
font-weight: 500;
color: #545454;
text-transform: uppercase;
}

.search-button {
cursor: pointer;
text-align: center;
border-bottom: 5px solid #628200;
border-radius: 3px 3px 5px 5px;
font-weight: 500;
background: #a3d900;
background: -moz-linear-gradient(top, #a3d900 10%, #7ba400 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#a3d900), color-stop(100%,#7ba400));
background: -webkit-linear-gradient(top, #a3d900 10%,#7ba400 100%);
background: -o-linear-gradient(top, #a3d900 10%,#7ba400 100%);
background: -ms-linear-gradient(top, #a3d900 10%,#7ba400 100%);
background: linear-gradient(to bottom, #a3d900 10%,#7ba400 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3d900', endColorstr='#7ba400',GradientType=0 );
}

.search-button p {
	text-align: center!important;
	color: white!important;
	font-size: 21px!important;
  	line-height: 33px;
	margin-bottom: 0px!important;
}

@media (max-width: 480px) {
	.search-button p {
		font-size: 25px!important;
	}
}

.print-button {
cursor: pointer;
text-align: center;
border-bottom: 5px solid #628200;
border-radius: 3px 3px 5px 5px;
font-weight: 500;
background: #a3d900;
background: -moz-linear-gradient(top, #a3d900 10%, #7ba400 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#a3d900), color-stop(100%,#7ba400));
background: -webkit-linear-gradient(top, #a3d900 10%,#7ba400 100%);
background: -o-linear-gradient(top, #a3d900 10%,#7ba400 100%);
background: -ms-linear-gradient(top, #a3d900 10%,#7ba400 100%);
background: linear-gradient(to bottom, #a3d900 10%,#7ba400 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3d900', endColorstr='#7ba400',GradientType=0 );
}

.print-button p {
	text-align: center!important;
	color: white!important;
	font-size: 25px!important;
	margin-bottom: 0px!important;
}

@media (max-width: 480px) {
	.print-button p {
		font-size: 25px!important;
	}
}

.selector-icon {
font-size: 25px;
color: #2B6AAD;
min-height:47px;
position:relative;
}

.selector-icon i {
position: absolute;
bottom: 0;
left: 0;
}

@media (max-width: 480px) {
	.selector-icon {
	font-size: 22px!important;
	}
}

.cercar {
	margin-top: 17px;
}

.full {
	width: 100%!important;
}

.descuento {
background: #ff8000; /* Old browsers */
background: -moz-linear-gradient(top,  #ff8000 35%, #ffbf00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(35%,#ff8000), color-stop(100%,#ffbf00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff8000 35%,#ffbf00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff8000 35%,#ffbf00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff8000 35%,#ffbf00 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff8000 35%,#ffbf00 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8000', endColorstr='#ffbf00',GradientType=0 ); /* IE6-9 */
}

.descuento:before {
content: "\f005";
position: absolute;
right: 0;
padding: 15px 10px;
z-index: 9;
font-family: "fontawesome";
color: white;
font-size: 80px;
opacity: 0.5;
}

@media (max-width:480px) {
	.descuento:before {
	opacity: 0.2;
	}	
}

/* PRECIO TOTAL */

.precio_total {
padding: 10px 15px;	
overflow: hidden;
min-height: 160px;
background: #2B6AAD;
}

.precio_total p {
font-weight: 500;
color: white;
font-size: 25px;
text-align: right;
letter-spacing: -0.4px;
}

@media (max-width:991px) {
	.precio_total p {
	font-size: 18px;
	text-align: center;
	}
}


.pendiente {
	border-radius: 3px;
	color: white;
	font-size: 25px;
	font-weight: 500;
	background: #EF5F5F;
	display: inline-block;
	text-align: center;
	width: 100%;
}

.pagado {
	border-radius: 3px;
	color: white;
	font-size: 25px;
	font-weight: 500;
	background: #5FBF5F;
	display: inline-block;
	text-align: center;
	width: 100%;
}

.deposito {
	border-radius: 3px;
	color: white;
	font-size: 25px;
	font-weight: 500;
	background: #00BFFF;
	display: inline-block;
	text-align: center;
	width: 100%;
}

.falso-precio {
border-radius: 3px;
color: white;
font-size: 25px;
font-weight: 500;
background: #DDDDDD;
display: inline-block;
text-align: center;
text-decoration: line-through;
width: 100%;
}

.precio {
border-radius: 3px;
color: white;
font-size: 25px;
font-weight: 500;
background: #FFBF00;
display: inline-block;
text-align: center;
width: 100%;
}

.precio-min {
font-size: 20px!important;
}

/* PRECIO HAB */

.precio-hab {
	float: right;
}

.precio-step2 {
	margin-top: 30px;
	float: right;
}

@media (min-width:991px) {
	.precio-hab {
	right: 0px;
	bottom: 0px;
	position: absolute;
	}
}

/* SEPARADOR */

.separador {
clear: both;
background: #CCCCCC;
height: 1px;
width: 100%;
margin: 0px 0px 5px;
box-shadow: 0px 1px 0px rgba(255,255,255,1);
}

@media (max-width:991px) {
	.separador {
		display: none;
	}
}

/* HABITACION */

.room {
background: white;
padding: 5px;
border: 1px solid #ccc;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);
overflow: hidden;
border-radius: 0px;
}

@media (min-width:768px) {
	.room {
		padding: 10px 0px;
	}
}

@media (max-width:480px) {
	.room {
		padding: 0;
	}
}

.room-desc {
text-align: right;
float: right;
}

@media (max-width:480px) {
	.room-desc {
	margin: 5px 0px 10px;
	text-align: center;
	float: none;
	}
}

.room-desc .room-name {
letter-spacing: -0.4px;
margin: 0;
font-size: 25px;
color: #2B6AAD;
font-weight: 500;
}

@media (max-width:991px) {
	.room-desc .room-name {
	font-size: 16px;
	}
}

.room-desc .room-brief, .room-desc .room-complete {
font-size: 15px;
color: #535353;
text-align: right;
font-weight: 600;
}

@media (max-width:991px) {
	.room-desc .room-brief, .room-desc .room-complete {
	font-size: 12px;
	}
}

@media (max-width:480px) {
	.room-desc .room-brief, .room-desc .room-complete {
	font-size: 11px;
	text-align: center;
	}
}

/* FOOTER */

footer {
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	color: #222;
}

@media (max-width:480px) {
	.btn-pensio .btn {
	display: inline-block;
	padding: 10px 4px;
	margin-bottom: 0;
	font-size: 9px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	}
}

/* STEP 2 ----------------------------------------------------------------------------------*/

.breadcrumbs .numberactive {
margin-right: 4px;
display: inline-block;
text-align: center;
min-width: 20px;
border-radius: 12px;
background-color: #2B6AAD;
color: white;
font-weight: 400;
}

.stepactive {
	color: #2B6AAD!important;
	font-weight: 500;
}

/* FECHA */

.fecha {
padding: 12px 5px;
color: #525252;
font-size: 14px;
text-align: center;
font-weight: 500;
}

.black {
	color: black;
}

.centro2 .nombre2 {
font-size: 24px;
font-weight: 600;
color: #2B6AAD;
letter-spacing: -0.8px;
text-align: center;
padding: 5px 5px;
}

.pagament {
	min-height: 900px;
}

/* TORNAR BUTTON */

.tornar-button {
text-align: center;
border-bottom: 5px solid #D0D0D0;
border-radius: 3px 3px 5px 5px;
color: white;
font-size: 25px;
font-weight: 500;
background: #2B6AAD;
cursor: pointer;
}

.tornar-button p {
	text-align: center!important;
}

@media (max-width: 480px) {
	.tornar-button p {
		font-size: 25px!important;
	}
}

.tornar {
	float: right
}

/* BOX ACTIVE */

.boxactive {
	background: #FFF8DF;
}

/* STEP 2 ---------------------------------------------------------------------- */

.step2-desc {
text-align: left;
float: left;
}

@media (max-width:480px) {
	.step2-desc {
	margin: 5px 0px 10px;
	text-align: center;
	float: none;
	}
}

.step2-desc .step2-blue {
letter-spacing: -0.4px;
margin: 0;
font-size: 17px;
color: #2B6AAD;
font-weight: 500;
}

@media (max-width:991px) {
	.step2-desc .step2-blue {
	font-size: 16px;
	}
}

.step2-desc .step2-grey, .step2-desc .step2-complete {
font-size: 15px;
color: #535353;
text-align: left;
font-weight: 600;
}

.step2-claro {
color: #bbb!important;
}

@media (max-width:991px) {
	.step2-desc .step2-grey, .step2-desc .step2-complete {
	font-size: 12px;
	}
}

@media (max-width:480px) {
	.step2-desc .step2-grey, .step2-desc .step2-complete {
	font-size: 11px;
	text-align: center;
	}
}

/* FORMULARIO */

.form-control-mayor {
	width: 100%!important;
}

.form-control {
  margin: 0px 0px;
  display: block;
  width: 86%;
  height: 34px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* FORMA DE PAGO */

.formadepago {
	background: #E9F0F7;
	border-radius: 3px;
	padding: 15px;
}

.formadepago p {
	font-size: 12px;
	color: #525252;
	font-weight: 500;
}

.descomptes {
	background: #EEEEEE;
	border-radius: 3px;
	padding: 15px 0px;
}

.descomptes p {
	font-size: 12px;
	color: #525252;
	font-weight: 500;
	margin-bottom: 10px;
}

.termesicondicions p {
	font-size: 12px;
	color: #525252;
	font-weight: 500;
}

.pagarara p {
	padding: 20px 0px;
}

.pagamentsegur {
	text-align: center;
}


/* ALERTAS */

.alertas {
letter-spacing: -0.4px;
margin: 0 0 10px;
padding: 0;
overflow: hidden;
}

@media (max-width:991px) {
	.alertas {
	max-width: 100%;
	}
}

@media (max-width:480px) {
	.alertas {
	margin-top: 10px;
	margin-bottom: 10px;
	}
}

.alerta {
line-height: 22px;
padding: 15px;
margin-bottom: 4px;
border-radius: 3px;
min-height: 75px;
font-weight: 500;
color: white;
font-size: 25px;
overflow: hidden;
}

.alerta .subtitle {
font-size:15px;
font-weight: 300;
}

@media (max-width:480px) {
	.alerta .subtitle {
	font-size: 11px;
	}	
}

@media (max-width:991px) {
	.alerta {
	line-height: 22px;
	padding: 5px 15px;
	margin-bottom: 5px;
	border-radius: 3px;
	min-height: 55px;
	font-weight: 500;
	color: white;
	font-size: 20px;
	text-align: center;
	}
}

@media (max-width:480px) {
	.oferta {
	font-size: 16px;
	padding: 5px 5px;
	}	
}

.alerta-nodispo {
background: #c0392b; /* Old browsers */
background: -moz-linear-gradient(top,  #c0392b 0%, #e74c3c 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0392b), color-stop(98%,#e74c3c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #c0392b 0%,#e74c3c 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #c0392b 0%,#e74c3c 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #c0392b 0%,#e74c3c 98%); /* IE10+ */
background: linear-gradient(to bottom,  #c0392b 0%,#e74c3c 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0392b', endColorstr='#e74c3c',GradientType=0 ); /* IE6-9 */
}

.alerta-nodispo:before {
content: "\f235";
position: absolute;
right: 0;
padding: 15px 10px;
z-index: 9;
font-family: "fontawesome";
color: white;
font-size: 80px;
opacity: 0.5;
}

@media (max-width:480px) {
	.alerta-nodispo:before {
	opacity: 0.2;
	}	
}

/* INFO BALLOONS */

.infos {
letter-spacing: -0.4px;
margin: 0;
padding: 0;
overflow: hidden;
}

@media (max-width:991px) {
	.infos {
	max-width: 100%;
	}
}

@media (max-width:480px) {
	.infos {
	margin-bottom: 0px;
	}
}

.info {
line-height: 22px;
padding: 15px;
margin-bottom: 4px;
border-radius: 3px;
min-height: 75px;
font-weight: 500;
color: white;
font-size: 25px;
overflow: hidden;
}

.info .subtitle {
font-size:15px;
font-weight: 300;
}

@media (max-width:480px) {
	.info .subtitle {
	font-size: 10px;
	}	
}

@media (max-width:991px) {
	.info {
	line-height: 22px;
	padding: 5px 15px;
	margin-bottom: 5px;
	border-radius: 3px;
	min-height: 55px;
	font-weight: 500;
	color: white;
	font-size: 20px;
	text-align: center;
	}
}

@media (max-width:480px) {
	.info {
	font-size: 16px;
	padding: 5px 5px;
	}	
}

.info-blue {
background: rgb(45, 112, 145); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(45, 112, 145) 0%, #3498db 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(45, 112, 145)), color-stop(98%,#3498db)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgb(45, 112, 145) 0%,#3498db 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgb(45, 112, 145) 0%,#3498db 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgb(45, 112, 145) 0%,#3498db 98%); /* IE10+ */
background: linear-gradient(to bottom,  rgb(45, 112, 145) 0%,#3498db 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(45, 112, 145)', endColorstr='#3498db',GradientType=0 ); /* IE6-9 */
}

.info-blue:before {
content: "\f05a";
position: absolute;
right: 0;
padding: 15px 10px;
z-index: 9;
font-family: "fontawesome";
color: white;
font-size: 80px;
opacity: 0.5;
}

@media (max-width:480px) {
	.info-blue:before {
	opacity: 0.2;
	}	
}

/* Balloon Terms & Conditions ------------------------------------------------------------------------------------------ */

.my-modal {
	position:fixed;
	z-index:99999;
	left:0;
	top:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,0.7);
	box-shadow:0 0 125px black inset;
}

.my-modal-dialog {
	background:white;
	border-radius:5px;
	border:1px solid black;
	margin:10% 0;
	padding:30px;
	position:absolute!important;
	top:0;
	bottom:0;
}

#termsAndConditions {display:none;}

#termsAndConditions .toolbar {position:relative;}

		.toolbar .close {
			font-family: 'Open Sans Condensed',Arial,Helvetica,Sans-serif !important;
			width:50px;
			position: absolute;
			top: 0;
			right: 0;
			font-size:175%;
			text-align: right;
			cursor:pointer;
		}

#termsAndConditions .content {height:80%;overflow:auto;padding:0 30px 0 0;text-align: justify;}

.uk-width-medium-8-10  {
	width: 80%;
}
.uk-push-1-10 {
    left: 10%;
}


/* OFERTAS ------------------------------------------------------------------------------------------------------------- */

.ofertas {
letter-spacing: -0.4px;
margin: 0;
padding: 0;
overflow: hidden;
}

@media (max-width:991px) {
	.ofertas {
	max-width: 100%;
	}
}

@media (max-width:480px) {
	.ofertas {
	margin-bottom: 0px;
	}
}

.oferta {
line-height: 22px;
padding: 15px;
margin-bottom: 4px;
border-radius: 3px;
min-height: 75px;
font-weight: 500;
color: white;
font-size: 25px;
overflow: hidden;
}

.oferta .subtitle {
font-size:15px;
font-weight: 300;
}

@media (max-width:480px) {
	.oferta .subtitle {
	font-size: 11px;
	}	
}

@media (max-width:991px) {
	.oferta {
	line-height: 22px;
	padding: 5px 15px;
	margin-bottom: 5px;
	border-radius: 3px;
	min-height: 55px;
	font-weight: 500;
	color: white;
	font-size: 17px;
	text-align: center;
	}
}

@media (max-width:480px) {
	.oferta {
	font-size: 16px;
	padding: 5px 5px;
	}	
}

/* COLORES OFERTAS */

/* especials (Azul por defecto)  */
		.ofertes-especials {
		background: #78b7d8; /* Old browsers */
		background: -moz-linear-gradient(top,  #78b7d8 0%, #2b6aae 50%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#78b7d8), color-stop(50%,#2b6aae)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #78b7d8 0%,#2b6aae 50%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #78b7d8 0%,#2b6aae 50%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #78b7d8 0%,#2b6aae 50%); /* IE10+ */
		background: linear-gradient(to bottom,  #78b7d8 0%,#2b6aae 50%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78b7d8', endColorstr='#2b6aae',GradientType=0 ); /* IE6-9 */
		}

		.ofertes-especials:before {
		content: "\f005";
		position: absolute;
		right: 0;
		padding: 15px 10px;
		z-index: 9;
		font-family: "fontawesome";
		color: white;
		font-size: 80px;
		opacity: 0.5;
		}

		@media (max-width:480px) {
			.ofertes-especials:before {
			opacity: 0.2;
			}	
		}

/* verd */
		.ofertes-verd {
		background: #85b200; /* Old browsers */
		background: -moz-linear-gradient(top,  #85b200 0%, #1a6600 50%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#85b200), color-stop(50%,#1a6600)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #85b200 0%,#1a6600 50%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #85b200 0%,#1a6600 50%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #85b200 0%,#1a6600 50%); /* IE10+ */
		background: linear-gradient(to bottom,  #85b200 0%,#1a6600 50%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85b200', endColorstr='#1a6600',GradientType=0 ); /* IE6-9 */
		}

		.ofertes-verd:before {
		content: "\f005";
		position: absolute;
		right: 0;
		padding: 15px 10px;
		z-index: 9;
		font-family: "fontawesome";
		color: white;
		font-size: 80px;
		opacity: 0.5;
		}

		@media (max-width:480px) {
			.ofertes-verd:before {
			opacity: 0.2;
			}	
		}

/* taronja */
		.ofertes-taronja {
		background: #ffbf00; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffbf00 0%, #ff8000 50%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffbf00), color-stop(50%,#ff8000)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffbf00 0%,#ff8000 50%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffbf00 0%,#ff8000 50%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffbf00 0%,#ff8000 50%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffbf00 0%,#ff8000 50%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbf00', endColorstr='#ff8000',GradientType=0 ); /* IE6-9 */
		}

		.ofertes-taronja:before {
		content: "\f005";
		position: absolute;
		right: 0;
		padding: 15px 10px;
		z-index: 9;
		font-family: "fontawesome";
		color: white;
		font-size: 80px;
		opacity: 0.5;
		}

		@media (max-width:480px) {
			.ofertes-taronja:before {
			opacity: 0.2;
			}	
		}

/* morat */
		.ofertes-morat {
		background: #8e44ad; /* Old browsers */
		background: -moz-linear-gradient(top,  #8e44ad 0%, #9b59b6 50%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e44ad), color-stop(50%,#9b59b6)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #8e44ad 0%,#9b59b6 50%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #8e44ad 0%,#9b59b6 50%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #8e44ad 0%,#9b59b6 50%); /* IE10+ */
		background: linear-gradient(to bottom,  #8e44ad 0%,#9b59b6 50%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e44ad', endColorstr='#9b59b6',GradientType=0 ); /* IE6-9 */
		}

		.ofertes-morat:before {
		content: "\f005";
		position: absolute;
		right: 0;
		padding: 15px 10px;
		z-index: 9;
		font-family: "fontawesome";
		color: white;
		font-size: 80px;
		opacity: 0.5;
		}

		@media (max-width:480px) {
			.ofertes-morat:before {
			opacity: 0.2;
			}	
		}

/* gris */
		.ofertes-gris {
		background: #2c3e50; /* Old browsers */
		background: -moz-linear-gradient(top,  #2c3e50 0%, #34495e 50%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c3e50), color-stop(50%,#34495e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #2c3e50 0%,#34495e 50%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #2c3e50 0%,#34495e 50%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #2c3e50 0%,#34495e 50%); /* IE10+ */
		background: linear-gradient(to bottom,  #2c3e50 0%,#34495e 50%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3e50', endColorstr='#34495e',GradientType=0 ); /* IE6-9 */
		}

		.ofertes-gris:before {
		content: "\f005";
		position: absolute;
		right: 0;
		padding: 15px 10px;
		z-index: 9;
		font-family: "fontawesome";
		color: white;
		font-size: 80px;
		opacity: 0.5;
		}

		@media (max-width:480px) {
			.ofertes-gris:before {
			opacity: 0.2;
			}	
		}

/* vermell */
		.ofertes-vermell {
		background: #e74c3c; /* Old browsers */ 
		background: -moz-linear-gradient(top,  #e74c3c 0%, #c0392b 50%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e74c3c), color-stop(50%,#c0392b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #e74c3c 0%,#c0392b 50%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #e74c3c 0%,#c0392b 50%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #e74c3c 0%,#c0392b 50%); /* IE10+ */
		background: linear-gradient(to bottom,  #e74c3c 0%,#c0392b 50%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e74c3c', endColorstr='#c0392b',GradientType=0 ); /* IE6-9 */
		}

		.ofertes-vermell:before {
		content: "\f05a";
		position: absolute;
		right: 0;
		padding: 15px 10px;
		z-index: 9;
		font-family: "fontawesome";
		color: white;
		font-size: 80px;
		opacity: 0.5;
		}

		@media (max-width:480px) {
			.ofertes-vermell:before {
			opacity: 0.2;
			}	
		}

/* Validacion de formularios ------------------------------------------------------------------------------------------------ */

.error {
	color:crimson!important;
}

label.error {
	display:inline;
}

input.error, select.error {
	border-color:crimson!important;
	background-color:cornsilk!important;
	color:crimson!important;
}

input.error::-webkit-input-placeholder, select.error::-webkit-input-placeholder { /* WebKit browsers */
    color: crimson!important;
}

input.error:-moz-placeholder, select.error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: crimson!important;
   opacity:  1;
}

input.error::-moz-placeholder, select.error::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: crimson!important;
   opacity:  1;
}

input.error:-ms-input-placeholder, select.error:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: crimson!important;
}

.strong {
  font-weight: bold!important;
}

/* Me copio todo esto para emular la señalizacion de Tematicos del israel en turisme en familia. */
.highlight, .tematic, .minpax {
    position: relative;
}
.highlight:before, .sample:before, .tematic:before, .sample-tematic:before {
    background: none repeat scroll 0 0 orangered;
    border-radius: 50%;
    color: white;
    content: "C";
    display: block;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    left: 3px;
    line-height: 100%;
    padding: 2px 4px;
    position: absolute;
    top: 6px;
}
.tematic:before, .sample-tematic:before {
  content: "T" !important;
  font-size: 10px !important;
  left: -2px !important;
  padding: 4px 6px !important;
  top: -2px !important;
}
.sample:before {
    display: inline-block;
    position: static;
}
.sample-tematic {
    display: inline-block;
    position: static;
}
.sample-tematic:before {
    position: static;
}
.highlight:after, .tematic:after, .minpax:after {
  background: none repeat scroll 0 0 orangered;
  bottom: 100%;
  color: white;
  content: "DIA DE CALCOTADA";
  display: none;
  font-size: 14px;
  left: auto;
  right: auto;
  bottom: 35px;
  line-height: 19px;
  padding: 5px 5px;
  position: absolute;
  margin: auto;
  border-radius: 3px;
  z-index: 9999999999999999999;
}
.tematic:after {
    content: "TEMATIC" !important;
    opacity: 1!important;
}
.minpax:after {
    content: attr(title)!important;
    opacity: 1!important;
}
.tematic.minpax:after {
    content: "TEMATIC " attr(title)!important;
    opacity: 1!important;
}
.highlight:hover:after, .tematic:hover:after, .minpax:hover:after {
    display: inline-block;
    width:auto;white-space: nowrap;
}
.minpax.ui-state-disabled {
    opacity:.66!important;
}
.minpax.ui-state-disabled:hover {
	cursor:help!important;
	opacity:.88!important;
}
.minpax {
	background: none repeat scroll 0 0 #55AA82!important;
}

.minpax span {background:transparent!important;}

h3.ultimas_habs {
    letter-spacing: -0.4px;
    margin: 0px;
    font-size: 25px;
    color: orangered;
    border-color: white;
    border-width: 1px; 
    font-weight: 500;

    text-shadow: 0px -1px 0px #FFF, 1px -1px 0px #FFF, 1px 0px 0px #FFF, 1px 1px 0px #FFF, 0px 1px 0px #FFF, -1px -1px 0px #FFF, -1px 0px 0px #FFF, -1px -1px 0px #FFF, 0px -1px 0px #FFF, 1px -1px 0px #FFF, 1px 0px 0px rgb(255, 255, 255), 1px 1px 0px rgb(255, 255, 255), 0px 1px 0px rgb(255, 255, 255), -1px -1px 0px rgb(255, 255, 255), -1px 0px 0px rgb(255, 255, 255), -1px -1px 0px rgb(255, 255, 255), 0px -1px 0px rgb(255, 255, 255), 1px -1px 0px rgb(255, 255, 255), 1px 0px 0px rgb(255, 255, 255), 1px 1px 0px rgb(255, 255, 255), 0px 1px 0px rgb(255, 255, 255), -1px -1px 0px rgb(255, 255, 255), -1px 0px 0px rgb(255, 255, 255), -1px -1px 0px rgb(255, 255, 255), 0px 1px 1px rgb(255, 255, 255);
}

.box.room .form-control {
  width: 100%;
}