/*.input-group {
    padding: 0 5px;
}*/



.logo {
    text-transform: none;
    letter-spacing: -1.0px;
}

.logo span span {
    color: #75C8DA!important;
}

.label-basic {
    background-color: #CCCCCC !important;
    color: #555!important;
}

.label-primary {
    background-color: #75C8DA !important;
}

.btn-primary {
    background-color: #75C8DA !important;
    border: 1px solid #75C8DA !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    background-color: #6BB3C4 !important;
    border: 1px solid #6BB3C4 !important;
}

.btn-teal {
    background-color: #007196 !important;
    border: 1px solid #007196 !important;
}

.btn-teal:hover, .btn-teal:focus, .btn-teal:active {
    background-color: #197FA0 !important;
    border: 1px solid #197FA0 !important;
}

.btn-default{
    color: #555!important;
}

#wrapper.enlarged .topbar .topbar-left .logo i {
    color: transparent!important;
}

.noicon a {
    padding: 10px 20px 10px 20px!important;
}

.naranja {
    color: orange!important;
}

.avatar-hostel-sm-box {
    height: 16px;
    width: 22px;
    line-height: 18px;
    font-size: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 20%;
    font-family: 'Hind Madurai', sans-serif;
    color: white;
}

.app-search .form-control, .app-search .form-control:focus {
    width:100%;
}

.widget-box-one .widget-one-icon {
    position: absolute;
    right: 30px;
    font-size: 30px !important;
    top: 0;
    color: #75C8DA;
    opacity: 0.4;
    overflow: hidden;
    vertical-align: middle;
    line-height: 2 !important;
}

select.selectpicker {
    width: 100%;
}

.btn {
    padding: 8px 14px;
}

.control-label {
    line-height: 38px;
    margin-bottom: 0px;
}

.topbar {
  z-index: 1000;
}

.datepicker {
    z-index: 11;
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled], .datepicker table tr td.selected, .datepicker table tr td.selected:hover, .datepicker table tr td.selected.disabled, .datepicker table tr td.selected.disabled:hover {
    background-color: #197FA0 !important;
    color: #ffffff !important;
    background-image: none !important;
    text-shadow: none !important;
}

.widget-two-teal {
    background-color: rgba(38, 166, 154, 0.2);
    border-color: rgba(38, 166, 154, 0.5);
}


.item-menu-left {
    color: #98a6ad;
    display: block;
    padding: 12px 20px;
}

#sidebar-menu .form-control, #sidebar-menu .btn, #sidebar-menu .input-group-addon {
    border-radius: 0px !important;
}

.side-menu {
   /*  padding: 0 5px; */
   z-index: 30000!important;
}

ul.list-unstyled {
    background: #262E37;
    padding: 5px 5px!important;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 4px solid #75C8DA;
    width: 15%;
}

.logo:before {
    content: url(http://crm2.urbanyhostels.com/assets/images/logo_rv.png);
    position: absolute;
    top: 18px;
    left: 19px;
    /* right: 0; */
    /* bottom: 0; */
}

/* PAGE LOGIN */

h2.logo-rv {
    color: #ffffff !important;
    font-size: 24px;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
}

h2.logo-rv span {
    color: #75C8DA!important;
}

h2.logo-rv img {
    padding-right: 5px;
}

/* COLOR PRIMARY */

/*azul fuerte #00749C*/
.text-primary {
    color: #00749C !important;
}

.form-control-feedback {
    color: #f9c851;
    right: -20px;
    font-size: 20px;
    line-height: 38px !important;
}

/* Css para el submenu de anchors de grupos */

    .menu_activo {
        background-color:#6BB3C4!important; 
    }

    .anchors-menu {
        max-height: 40px;
        top:70px; 
        z-index:99;
        box-sizing:border-box;
        right:0;
        position:fixed;
    }

    .fixed-left .anchors-menu {
        left:225px;
    }

    .fixed-left-void .anchors-menu {
        left:70px;
    }

    .anchors-botonera{
        max-height: 40px;
        background-color:#75C8DA!important; 
        color:white!important; 
    } 

    .submenu-anchors{
        background-color:#75C8DA!important; 
    }
    .submenu-anchors:hover, .submenu-anchors:active{
        background-color:#6BB3C4!important; 
    }
    
    .submenu-anchors a.text-overflow {
        font-size: small;
    }
    .anchors-menu a.text-overflow, .boton_buardar_menu a.text-overflow{
        line-height: 40px;
        display:inline-block!important;
        font-family: 'Varela Round', sans-serif;
        width: auto;
        margin: 0px 5px;
        color: white;
    }

    .submenu-anchors {
        max-height: 40px;
        padding: 0px 10px!important;
        display: inline-block;
    }

@media(max-width:1100px) {

    .submenu-anchors a.text-overflow {
        font-size:10px; 
    }

}
/*    
    .anchors-menu, .submenu-anchors, .anchors-botonera{
        max-height: 40px;
    } 
    .anchors-menu a.text-overflow, .boton_buardar_menu a.text-overflow{
        line-height: 40px;
    }
*/

    .btnAccion {
        background-color: #00749C!important;
        border-color:  #00749C!important;
    }

    .btnAccion:hover {
        background-color: #00749C!important;
        border-color:  #00749C!important;
    }

    .boton_guardar_menu {
        background-color: #00749C!important;
        min-height: 40px;
        max-height: 40px;
        padding: 0 15px!important;
        display: inline-block;
        position:absolute;
        right:0;
    }

    .boton_buardar_menu a {
        color: white;
    }

    .content-page .content.con_submenu {
        margin-top: 110px!important;
    }
/* /. Css para el submenu de anchors de grupos */

/* Css para el crud */
    .table>thead>tr>th.ocultar{
        border-bottom: none;
    }
    .fondo_botonera_crud {
        min-width:70px!important;
        color: white;
        text-align: center;
    }

    .fondo_botonera_crud button {
        min-height: 25px!important;
        min-width: 25px!important;
        padding: 0px 5px!important;
    }
  
    .scrolltainer {
        max-width:100%;
        max-height: 70vh;
        overflow:scroll;
        position:relative;
    }

    .outer {
        position: relative
    }

    .inner {
        overflow-x: auto;
        overflow-y: visible;
        margin-right: 50px;
    }

    .formato_P  {   min-width: 100px!important; }
    .formato_M  {   min-width: 150px!important; }
    .formato_G  {   min-width: 300px!important; }   

    .table-responsive {
        overflow: hidden;
    }

    input[type="radio"].form-control {
        display: inline-block;
        width:inherit;
    }
    td label + label {
        margin-left: 25px;
    }

    td label,
    td label input[type="radio"] {
        margin:0;
        vertical-align:middle;
    }
    td label input[type="radio"] {
        margin-right:3px;
    }

    .modal-demo {
        position: relative;
    }
/* /.  Css para el crud */

/* cambio de colores */
.verde {
    color: #4bd396;
}

/* otros */

.quitar_bg {
    background: inherit;
}
.w-100 {
    width: 100%;
}

/* modificaciones xavi */
.input-group-btn .btn {
    padding: 11px 12px;
}

.form-control.datepicker {
    padding: 7px 12px;
}

/* jordi */
.content-popup {
    top:10px; /* 80 */
    position: absolute;
    padding-right: 25px!important;
}

.p-1 { padding: 1px!important; }
.p-2 { padding: 2px!important; }
.p-3 { padding: 3px!important; }
.p-4 { padding: 4px!important; }

label[for="fichero"].btn.btn-default {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
}





/*  Codigos de color por centro */

/*      GUH */
            .label-GUH      { background-color: #95B634 !important; color: #ffffff!important; }
            .color-GUH      { background-color: #95B634 !important; color: white!important; }
            .borde-GUH      { border: 1px solid #95B634 !important; }

            .color-2-GUH    { background-color: #B5D752 !important; }
            .borde-2-GUH    { border: 1px solid #B5D752 !important; }

            .hr-GUH         { border-top: 4px solid #B5D752 !important; }
            .panel-border .panel-heading.barra-GUH      {
                                border-color: #B5D752 !important;
                                color: #3b3e47 !important;
                            }
/*      // GUH */

/*      BUH */
            .label-BUH      { background-color: #3D9BD3 !important; color: #ffffff!important; }
            .color-BUH      { background-color: #3D9BD3 !important; color: white!important; }
            .borde-BUH      { border: 1px solid #3D9BD3 !important; }

            .color-2-BUH    { background-color: #75C8DA !important; }
            .borde-2-BUH    { border: 1px solid #75C8DA !important; }

            .hr-BUH         { border-top: 4px solid #75C8DA !important; }
            .panel-border .panel-heading.barra-BUH      {
                                border-color: #75C8DA !important;
                                color: #3b3e47 !important;
                            }
/*      // BUH */

/*      HAM */
            .label-HAM      { background-color: #0045ae !important; color: #ffffff!important; }
            .color-HAM      { background-color: #ffffff !important; color: #797979!important; }
            .borde-HAM      { /* border: 1px solid #ffffff !important; */ }

            .color-2-HAM    { background-color: #0045ae !important; }
            .borde-2-HAM    { border: 1px solid #0045ae !important; }

            .hr-HAM         { border-top: 4px solid #0045ae !important; }
            .panel-border .panel-heading.barra-HAM      {
                                border-color: #0045ae !important;
                                color: #3b3e47 !important;
                            }
/*      // HAM */

/*      HCP */
            .label-HCP      { background-color: #4c669d !important; color: #ffffff!important; }
            .color-HCP      { background-color: #ffffff !important; color: #797979!important; }
            .borde-HCP      { /* border: 1px solid #ffffff !important; */ }

            .color-2-HCP    { background-color: #4c669d !important; }
            .borde-2-HCP    { border: 1px solid #4c669d !important; }

            .hr-HCP         { border-top: 4px solid #4c669d !important; }
            .panel-border .panel-heading.barra-HCP      {
                                border-color: #4c669d !important;
                                color: #3b3e47 !important;
                            }
/*      // HCP */

/*      GR92 */
            .label-GR92     { background-color: #8db113 !important; color: #ffffff!important; }
            .color-GR92     { background-color: #ffffff !important; color: #797979!important; }
            .borde-GR92     { /* border: 1px solid #ffffff !important; */ }

            .color-2-GR92   { background-color: #8db113 !important; }
            .borde-2-GR92   { border: 1px solid #8db113 !important; }

            .hr-GR92        { border-top: 4px solid #8db113 !important; }
            .panel-border .panel-heading.barra-GR92     {
                                border-color: #8db113 !important;
                                color: #3b3e47 !important;
                            }
/*      // GR92 */

/*      Tuca */
            .label-TUC     { background-color: #00a5df !important; color: #ffffff!important; }
            .color-TUC     { background-color: #ffffff !important; color: #0067a5!important; }
            .borde-TUC     { /* border: 1px solid #ffffff !important; */ }

            .color-2-TUC   { background-color: #00a5df !important; }
            .borde-2-TUC   { border: 1px solid #00a5df !important; }

            .hr-TUC        { border-top: 4px solid #00a5df !important; }
            .panel-border .panel-heading.barra-TUC     {
                                border-color: #00a5df !important;
                                color: #f6f6f6 !important;
                            }
/*      // Tuca */


/* modificacion datos del formulario */
.fondo_modificado {
    background-color: #00749C !important;
}

.borde_modificado {
    border: 1px solid #00749C !important;
    background: lemonchiffon;
}

#datos input[type="radio"].borde_modificado:checked + label {
    color:#75C8DA!important;
    text-decoration:underline!important;
}
/* // modificacion datos del formulario */


/* css modificacion informe pensiones */
.borde-columnas {
    border-left:    2px solid darkgrey!important; 
    border-right:   2px solid darkgrey!important; 
}


/* bono de cliente */
.separador_horarios_iz {
  padding-right: 10px;
}
.separador_horarios_de {
    min-height: 108px;
    border-left-color: #e28327;
    border-left-style: solid;
    border-left-width: 1px;
}




.soloprint {display:none;}

@media print {
    body {
        width: 1100px;  
    }

    .rn { /* page-break-before: always!important; */}
    .soloprint {display:block;}
    .soloscreen {display:none;}
    
    .content-popup {
        top:0;
    }

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
    .col-sm-12, .col-md-12, .col-lg-12 {
      width: 100%;
    }
    .col-sm-11, .col-md-11, .col-lg-11 {
      width: 91.66666666666666%;
    }
    .col-sm-10, .col-md-10, .col-lg-10 {
      width: 83.33333333333334%;
    }
    .col-sm-9, .col-md-9, .col-lg-9 {
      width: 75%;
    }
    .col-sm-8, .col-md-8, .col-lg-8 {
      width: 66.66666666666666%;
    }
    .col-sm-7, .col-md-7, .col-lg-7 {
      width: 58.333333333333336%;
    }
    .col-sm-6, .col-md-6, .col-lg-6 {
      width: 50%;
    }
    .col-sm-5, .col-md-5, .col-lg-5 {
      width: 41.66666666666667%;
    }
    .col-sm-4, .col-md-4, .col-lg-4 {
      width: 33.33333333333333%;
    }
    .col-sm-3, .col-md-3, .col-lg-3 {
     width: 25%;
    }
    .col-sm-2, .col-md-2, .col-lg-2 {
     width: 16.666666666666664%;
    }
    .col-sm-1, .col-md-1, .col-lg-1 {
      width: 8.333333333333332%;
    }

    .visible-xs, .visible-sm, .visible-md, .hidden-lg {
      display: none !important;
    }

    .hidden-xs, .hidden-sm, .hidden-md, .visible-lg {
      display: block !important;
    }

    td.hidden-xs, td.hidden-sm, td.hidden-md, td.visible-lg, th.hidden-xs, th.hidden-sm, th.hidden-md, th.visible-lg {
      display: table-cell !important;
    }

    .label-success  { background:#4bd396!important; border-color:#4bd396!important; }
    .label-danger   { background:#f5707a!important; border-color:#f5707a!important; }
    .label-warning  { background:#f9c851!important; border-color:#f9c851!important; }

    th.color-BUH, .color-BUH, .BUH, .color-BUH label    { background: #3D9BD3 !important; color: white !important; }
    th.color-GUH, .color-GUH, .GUH, .color-GUH label    { background: #95B634 !important; color: white !important; }
    th.color-HCP, .color-HCP, .HCP, .color-HCP label    { background: #ffffff !important; color: #797979 !important; }
    th.color-GR92, .color-GR92, .GR92, .color-GR92 label  { background: #ffffff !important; color: #797979 !important; }
    th.color-HAM, .color-HAM, .HAM, .color-HAM label    { background: #3D9BD3 !important; color: #797979 !important; }
}

.linea_resultado:hover {
    background-color: aliceblue;
}

.has-error .form-control {
    height: auto!important;
}

.expandible {
    overflow: auto;
    max-height:250px;
    transition:1s;
    margin-bottom: 10px;
}

/*
.expandible:hover,
.expandible:focus {
    max-height:none;
}
*/

.mod_menu_lateral_scroll {
    max-height: 300px; 
    display: block; 
    overflow-x: hidden; 
    overflow-y: scroll;
}

#wrapper.enlarged .left.side-menu #sidebar-menu ul > li {
    position: relative;
    white-space: inherit;
}




/* widgets (las vegas!) */
.widget .botonera {
    display: inline-block;
    float: right;
    font-size: 15px;
    line-height: 30px;
    padding-left: 15px;
    position: relative;
    text-align: right;
}

.min-btn {
    width: 21px!important;
    display: inline-block;
    margin: 1px;
}

.widget-box-two .widget-two-icon {
    font-size: 23px !important;
    top: 22px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    z-index: 10;
    cursor: pointer;
}

.grid                           { width:100%; }
.gutter-sizer                   { width:  1%; }
.grid-sizer, .grid-item         { width:  7.4166%; box-sizing: border-box; margin-bottom: 0px; }
.grid-item--width1              { width:  7.4166%; }
.grid-item--width2              { width: 15.8332%; }
.grid-item--width3              { width: 24.2498%; }
.grid-item--width4              { width: 32.6664%; }
.grid-item--width5              { width: 41.083%; }
.grid-item--width6              { width: 49.4996%; }
.grid-item--width7              { width: 57.9162%; }
.grid-item--width8              { width: 66.3328%; }
.grid-item--width9              { width: 74.7494%; }
.grid-item--width10             { width: 83.166%; }
.grid-item--width11             { width: 91.5826%; }
.grid-item--width12             { width: 99.9992%; }

@media screen and (max-width: 1280px) {
    .gutter-sizer                   { width:  2%; }
    .grid-sizer, .grid-item, .grid-item--width1, .grid-item--width2, .grid-item--width3, .grid-item--width4, .grid-item--width5, .grid-item--width6              { width: 49%; }
    .grid-item--width7, .grid-item--width8, .grid-item--width9, .grid-item--width10, .grid-item--width11, .grid-item--width12                                    { width: 100%; }
}

.widget,
[class*="widget"] table {
    font-size: 11px!important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: 1px solid rgba(0,0,0,.1);
}

.table>thead>tr>th {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block!important;
    max-width: 80%;
    vertical-align: bottom;
}